<% provide(:title, 'Home')%>
<div class="top">
  <div class="shadow">
    <div class="text-center title">
      <h1>Search Coffee Stand</h1>
      <p>Search your favorite Coffee Stand</p>
      <%= link_to  "LOGIN", "#", class: "text-secondary mx-2" %>
      <%= link_to  "SIGNUP", "#", class: "text-secondary mx-2" %>
    </div>
  </div>
</div>